<!doctype html>
 
<html ng-app="bioteca">
	<head>
	    <!-- META -->
	    <meta charset="utf-8">
	    <!-- Otimizar a exibição em dispositivos móveis -->
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	 
	    <title>Bioteca</title>
	    
	    <!-- Carregando o bootstrap-->
	    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	  
	  	<!-- CSS -->
	    <link href="../view/css/style.css" rel="stylesheet">
	    
	    <!-- JS -->
	    <!-- Carregando a biblioteca jQuery -->
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	    <!-- Carregando a biblioteca AngularJS -->
	    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	    
	    <!-- Carregando a biblioteca bootstrap -->
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <script src="../control/PacienteControl.js"></script>
	 
	</head>
	<!-- DEFINE O CONTROLLER E BUSCA TODOS OS Pacientes -->
	<body ng-controller="mainController" ng-required="verificaLogin()">
		<nav class="navbar navbar-inverse">
	  		<div class="container-fluid">
	    	<div class="navbar-header">
	    		<a class="navbar-brand" href="#">Bioteca</a>
	    	</div>
	    		<ul class="nav navbar-nav">
	      			<li><a href="./index.html">Home</a></li>
	      			<li class="active"><a href="../view/ViewCadastroPaciente.html" ng-show="grupo >= 2">Novo Registro</a></li>
	      			<li><a href="../view/ViewUploadArquivos.html" ng-show="grupo >= 2">Upload</a></li>
	    		</ul>
	    		<ul class="nav navbar-nav navbar-right">
	      			<li><a id="login" href="../view/ViewCadastroUsuario.html"><span class="glyphicon glyphicon-user"></span> Cadastre-se</a></li>
		      		<li><a id="login" href="../view/ViewLogin.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		      		<!-- DROPDOWN DO USUARIO -->
	    			<li>
	    				<li id="usuarioNome" class="dropdown">
						    <a id="usuarioNome" class="dropdown-toggle" data-toggle="dropdown" href="#">{{usuarioNome}}
						    <span class="caret"></span></a>
						    <ul class="dropdown-menu">
						      <li>
						      	 <a href="../view/ViewGerenciamentoUsuario.html">
						      		<span class="glyphicon glyphicon-cog"></span>
						      		Minha Conta
						      	 </a>
						      </li>
						      <li>
						      	<a href="#" ng-click="logout()">
		    							<span class="glyphicon glyphicon-log-out"></span>
		    							Sair
	    						</a>
	    					 </li>
						    </ul>
						  </li>
	    			</li>
	    		</ul>
	  		</div>
		</nav> 
	    <div class="container">
		  	
		  	<!-- ALERTS -->
	    	<div class="alert alert-success alert-dismissable" id="successInf">
	    	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			  <strong>Dados Enviados!</strong> Seus dados já estão gravados em nosso banco de dados! 
			</div>
		  	<div class="alert alert-danger alert-dismissable" id="dangerInf">
		  	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			  <strong>Algo de errado!</strong> Não conseguimos validar os dados enviados! 
			</div>
		  	
		  	
	        <!-- FORMULÁRIO PARA CRIARMOS UM NOVO Paciente -->
	        <div id="Paciente-form">
	            
	            <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
	            	<br>
	            	<div class="row">
		                <div class="form-group col-md-2" 
		                	 ng-class="{ 'has-error' : userForm.iidPaciente.$invalid && 
		                	 							!userForm.iidPaciente.$pristine }">
		                    <label for="iidPaciente">IID</label>
		                    <input type="text" 
		                    	class="form-control" 
		                    	id="iidPaciente" 
		                    	placeholder="IID"
		                    	value=""
		                    	required="true" 
		                    	pattern="[0-9]+$"
		                    	ng-model="formPaciente.iid"
		                    	autofocus>
		                    	<p ng-show="userForm.iidPaciente.$invalid && 
		                    				!userForm.iidPaciente.$pristine" 
			                    	class="help-block">IID Obrigatório!</p>
						</div>
						<div class="form-group col-md-6"
						ng-class="{ 'has-error' : userForm.nome.$invalid &&
												!userForm.nome.$pristine}">
								<label for="nome">NOME DO PACIENTE</label>
								<input type="text" 
									class="form-control" 
									id="nome" 
									placeholder="Nome Sobrenome"
									value="" 
									required="true" 
									pattern="[a-z\s]+$"
									ng-model="formPaciente.nome">
									<p ng-show="userForm.nome.$invalid && 
												!userForm.nome.$pristine" 
										class="help-block">Nome Obrigatório!</p>
						</div>
						<div class="form-group col-md-4">
							<label for="coleta">DATA DA COLETA</label>
							<input type="date" 
								class="form-control" 
								id="coleta"
								value=""  
								ng-model="formPaciente.coleta">
						</div>
		                <div class="form-group col-md-2">
								<label for="genotipado">GENOTIPADO</label>
								<br>
								<form >
									<label class="radio-inline">
									  <input type="radio" 
											   name="optradio"
											   ng-model="formPaciente.genotipado"
											   value="1"
											   checked>Sim
									</label>
									<label class="radio-inline">
									  <input type="radio" 
											   name="optradio"
											   ng-model="formPaciente.genotipado"
											   value="0">Não
									</label>
								</form>
						</div>
		                <div class="form-group col-md-2">
								<label for="genotipado">EM PLACA</label>
								<br>
								<form >
										<label class="radio-inline">
										  <input type="radio" 
												   name="optradio"
												   ng-model="formPaciente.emPlaca"
												   value="1"
												   checked>Sim
										</label>
										<label class="radio-inline">
										  <input type="radio" 
												   name="optradio"
												   ng-model="formPaciente.emPlaca"
												   value="0">Não
										</label>
								</form>
						</div>
					</div>
					<hr>
	                <div class="row">
		                <div class="form-group col-md-3 col-md-offset-1">
		                	<div class="panel panel-default">
	      						<div class="panel-heading">DNA ONDA 1</div>
	      							<div class="panel-body">
		                    			<label for="num1">Número</label>
		                    			<input type="text" 
		                    			class="form-control" 
		                    			id="num1" 
		                    			ng-model="formPaciente.num1"
		                    			value="">
		                    			
		                    			<label for="coleta1">Data da coleta</label>
		                    			<input type="date"
		                    			class="form-control" 
		                    			id="coleta1" 
		                    			ng-model="formPaciente.coleta1"
		                    			value="">
		                    			
		                    			<label>Reprovado</label>
		                    			<br>
										<form >
										    <label class="radio-inline" >
										      <input type="radio" 
										      		 name="optradio"
										      		 ng-model="formPaciente.statusDna1"
										      		 value="1"
										      		 checked>Sim
										    </label>
										    <label class="radio-inline">
										      <input type="radio" 
										      		 name="optradio"
										      		 ng-model="formPaciente.statusDna1"
										      		 value="0">Não
										    </label>
										</form>
										<hr>
										<label for="s1">SORO 1</label>
										<input type="text" 
											class="form-control" 
											id="s1"  
											value=""
											ng-model="formPaciente.s1_Onda1">
										<label for="s2">SORO 2</label>
										<input type="text" 
											class="form-control" 
											id="s2" 
											value=""
											ng-model="formPaciente.s2_Onda1">
										<label for="s3">SORO 3</label>
										<input type="text" 
											class="form-control" 
											id="s3"  
											value=""
											ng-model="formPaciente.s3_Onda1">
										<label for="s4">SORO 4</label>
										<input type="text" 
											class="form-control" 
											id="s4" 
											value=""
											ng-model="formPaciente.s4_Onda1">
										<hr>
										<label for="p1">PLASMA 1</label>
										<input type="text" 
											class="form-control" 
											id="p1"  
											value=""
											ng-model="formPaciente.p1_Onda1">
										<label for="p2">PLASMA 2</label>
										<input type="text" 
											class="form-control" 
											id="p2"  
											value=""
											ng-model="formPaciente.p2_Onda1">
										<label for="p3">PLASMA 3</label>
										<input type="text" 
											class="form-control" 
											id="p3"  
											value=""
											ng-model="formPaciente.p3_Onda1">
										<label for="p4">PLASMA 4</label>
										<input type="text" 
											class="form-control" 
											id="p4"  
											value=""
											ng-model="formPaciente.p4_Onda1">
										<label for="r1">RnaLatter 1</label>
										<input type="text" 
											class="form-control" 
											id="r1"  
											value=""
											ng-model="formPaciente.rnaLatter_1_Onda_1">
										<label for="r2">RnaLatter 2</label>
										<input type="text" 
											class="form-control" 
											id="r2"  
											value=""
											ng-model="formPaciente.rnaLatter_2_Onda_1">
		                    		</div>
		                    </div>
		                </div>
		                <div class="form-group col-md-3 col-md-offset-1">
		                	<div class="panel panel-default">
	      						<div class="panel-heading">DNA ONDA 2</div>
	      							<div class="panel-body">
	      							
		                    			<label for="num2">Número</label>
		                    			<input type="text" 
		                    			class="form-control" 
		                    			id="num2" 
		                    			value=""
		                    			ng-model="formPaciente.num2">
		                    			
		                    			<label for="coleta2">Data da coleta</label>
		                    			<input type="date" 
		                    			class="form-control" 
		                    			id="coleta2" 
		                    			value=""
		                    			ng-model="formPaciente.coleta2">
		                    			
		                    			<label>Reprovado</label>
		                    			<br>
										<form >
										    <label class="radio-inline">
										      <input type="radio" 
										      		 name="optradio"
										      		 ng-model="formPaciente.statusDna2"
										      		 value="1"
										      		 checked>Sim
										    </label>
										    <label class="radio-inline">
										      <input type="radio" 
										      		 name="optradio"
										      		 ng-model="formPaciente.statusDna2"
										      		 value="0">Não
										    </label>
										</form>
										<hr>
										<label for="s1">SORO 1</label>
										<input type="text" 
											class="form-control" 
											id="s1"  
											value=""
											ng-model="formPaciente.s1_Onda2">
										<label for="s2">SORO 2</label>
										<input type="text" 
											class="form-control" 
											id="s2" 
											value=""
											ng-model="formPaciente.s2_Onda2">
										<label for="s3">SORO 3</label>
										<input type="text" 
											class="form-control" 
											id="s3"  
											value=""
											ng-model="formPaciente.s3_Onda2">
										<label for="s4">SORO 4</label>
										<input type="text" 
											class="form-control" 
											id="s4" 
											value=""
											ng-model="formPaciente.s4_Onda2">
										<hr>
										<label for="p1">PLASMA 1</label>
										<input type="text" 
											class="form-control" 
											id="p1"  
											value=""
											ng-model="formPaciente.p1_Onda2">
										<label for="p2">PLASMA 2</label>
										<input type="text" 
											class="form-control" 
											id="p2"  
											value=""
											ng-model="formPaciente.p2_Onda2">
										<label for="p3">PLASMA 3</label>
										<input type="text" 
											class="form-control" 
											id="p3"  
											value=""
											ng-model="formPaciente.p3_Onda2">
										<label for="p4">PLASMA 4</label>
										<input type="text" 
											class="form-control" 
											id="p4"  
											value=""
											ng-model="formPaciente.p4_Onda2">
										<label for="r1">RnaLatter 1</label>
										<input type="text" 
											class="form-control" 
											id="r1"  
											value=""
											ng-model="formPaciente.rnaLatter_1_Onda_2">
										<label for="r2">RnaLatter 2</label>
										<input type="text" 
											class="form-control" 
											id="r2"  
											value=""
											ng-model="formPaciente.rnaLatter_2_Onda_2">
		                    		</div>
		                    </div>
		                </div>
		                <div class="form-group col-md-3 col-md-offset-1">
		                	<div class="panel panel-default">
	      						<div class="panel-heading">DNA ONDA 3</div>
	      							<div class="panel-body">
	      							
		                    			<label for="num3">Número</label>
		                    			<input type="text" 
		                    			class="form-control" 
		                    			id="num3" 
		                    			value=""
		                    			ng-model="formPaciente.num3">
		                    			
		                    			<label for="coleta3">Data da coleta</label>
		                    			<input type="date" 
		                    			class="form-control" 
		                    			id="coleta3" 
		                    			value=""
		                    			ng-model="formPaciente.coleta3">
		                    			
		                    			<label>Reprovado</label>
		                    			<br>
										<form >
										    <label class="radio-inline">
										      <input type="radio" 
										      		 name="optradio"
										      		 ng-model="formPaciente.statusDna3"
										      		 value="1"
										      		 checked>Sim
										    </label>
										    <label class="radio-inline">
										      <input type="radio" 
										      		 name="optradio"
										      		 ng-model="formPaciente.statusDna3"
										      		 value="0">Não
										    </label>
										</form>
										<hr>
										<label for="s1">SORO 1</label>
										<input type="text" 
											class="form-control" 
											id="s1"  
											value=""
											ng-model="formPaciente.s1_Onda3">
										<label for="s2">SORO 2</label>
										<input type="text" 
											class="form-control" 
											id="s2" 
											value=""
											ng-model="formPaciente.s2_Onda3">
										<label for="s3">SORO 3</label>
										<input type="text" 
											class="form-control" 
											id="s3"  
											value=""
											ng-model="formPaciente.s3_Onda3">
										<label for="s4">SORO 4</label>
										<input type="text" 
											class="form-control" 
											id="s4" 
											value=""
											ng-model="formPaciente.s4_Onda3">
										<hr>
										<label for="p1">PLASMA 1</label>
										<input type="text" 
											class="form-control" 
											id="p1"  
											value=""
											ng-model="formPaciente.p1_Onda3">
										<label for="p2">PLASMA 2</label>
										<input type="text" 
											class="form-control" 
											id="p2"  
											value=""
											ng-model="formPaciente.p2_Onda3">
										<label for="p3">PLASMA 3</label>
										<input type="text" 
											class="form-control" 
											id="p3"  
											value=""
											ng-model="formPaciente.p3_Onda3">
										<label for="p4">PLASMA 4</label>
										<input type="text" 
											class="form-control" 
											id="p4"  
											value=""
											ng-model="formPaciente.p4_Onda3">
										<hr>
										<label for="mic1">Microbióta 1</label>
										<input type="text" 
											class="form-control" 
											id="mic1"  
											value=""
											ng-model="formPaciente.mic1">
										<label for="mic2">Microbióta 2</label>
										<input type="text" 
											class="form-control" 
											id="mic2"
											value=""
											ng-model="formPaciente.mic2">
		                    		</div>
		                    </div>
		                </div>              
	                </div>
	                <div class="form-group">
						  <label for="observ">Observação:</label>
						  <textarea class="form-control" 
						  			rows="5" 
						  			id="observ"
						  			value=""
						  			ng-model="formPaciente.observ"></textarea>
					</div>
	                <div class="form-group col-md-3 col-md-offset-5">
	                    <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="criarPaciente()" ng-show="grupo >= 2">Criar</button>
	                </div>
	            </form>
	        </div>
	    </div>
	</body>
</html>